.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 175px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

.mine {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.mine:active {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.mine:hover {
  cursor: pointer;
}

.play {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-decoration-color: #000000;
  text-size: 50px;
  background-color: #009999;
}

.play:active {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

button:hover {
  cursor: pointer;
}

body {
  padding-top: 25px;
  background: url('../src/img/underwater.png') no-repeat;
  background-size: 1280px 853px;
}
